<h2>Edit Info</h2>
<div class="auth-div">
  Leave blank the info you don't want to change.
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control small_box" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="clearfix">
    <div class="span3">
      <%= f.label :first_name, class:"div-first_name" %>
      <%= f.label :last_name %>
    </div>
    <div class="span1">
      <%= f.text_field :first_name, autofocus: true, class: "form-control small_first_name"%>
    <%= f.text_field :last_name, autofocus: true, class: "form-control small_last_name"%>
    </div>
  </div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control small_box" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control small_box" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control small_box" %></div>

  <div><%= f.submit "Update", class: "btn btn-success" %></div>
  <div class="devise-links">
    <%= link_to "Back", :back %>
  </div>
<br><br>
</div>
<div class="auth-pic">
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= image_tag(current_user.image.url(:medium)) %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Aren't you no longer hungry?\nDeletion can't be undone, are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

