<div class="container">
  <h2>Account information</h2>
  <div class="jumbotron">
    <div class="info-div">
      <br>
      <p>Hosted Suppr: <%= @user.n_hosted %></p>

      <p>
       Full name: <%= @user.first_name %>
			  <%= @user.last_name %></p>
      <br>
			<p>Registered email: <%= @user.email %></p>
      <%= link_to 'Edit Info', edit_user_registration_path(current_user), class: 'btn btn-warning' %>
    </div>
    
    <%= image_tag @user.image.url(:medium), class: "user-pic"%><br>
  </div>
  
  <br>
  <h2>Joined Suppr</h2>
  <div class="div-reservations">
    <% if @reservations != nil %>
    <table id="list_reservations">
      <tbody>
        <%= render @reservations %>
      </tbody>
    </table>
    <% end %>
  </div>
  <%= link_to 'Back', :back %>
</div>

