
<!-- Event/list.html -->

<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>

<% @dinners.each do |dinner| %>
<div class="list_row">
    <tr>

        <td>
            <div id="div_button_rsvp">
                <a href='/event/<%= dinner.id %>' class='fill-div'>RSVP</a>
            </div>
        </td>
        <td>
            <div class="div_button_info">
                <a href='event/<%= dinner.id %>' class='fill-div'>Details</a>
            <!-- <a href='/event/detail' class='fill-div'></a> -->
            </div>
        </td>
        <td>
            <div class="div_image">
                <!-- image_tag(dinner.photo, class: 'list_image') %>  -->

                <a href="/event/<%= dinner.id %>">
                    <div class="div_image">
                            <%= image_tag(dinner.photo, class: 'list_image') %> 
                    </div>
                </a>
            </div>
        </td>
            <div class="list_text">
                <td><%= dinner.date %></td>
                <td><%= dinner.location %></td>
                <td><%= dinner.title %></td>
                <td><%= dinner.description %></td>
                <td><%= dinner.category %></td>
                <td><%= dinner.price %></td>
                <td><%= dinner.seats_available %></td>
                <td><%= dinner.stamp %></td>

            </div>
    </tr>
    <br>
</div>
<% end %>



