<% if not dinner.date.past? %>
<tr class="list_dinners_row">
  <td class="td_side">
    <div class="div_dinner_image">
      <%= link_to image_tag(dinner.image, class: 'list_image'), {:id => dinner.id, :controller => "dinners", :action => "show"} %>
    </div>
  </td>
  <td class="list_dinner_text">
    <h2><%= dinner.title %></h2>
    <p>Hosted by: <%= link_to dinner.host.first_name + ' ' + dinner.host.last_name, {:id => dinner.host.id, :controller => "users", :action => "show"} %></p>
    <p>Date:
      <%= dinner.date.strftime("%B") %> <%= dinner.date.strftime("%d") %>,
      <%= dinner.date.strftime("%Y") %> at <%= dinner.date.strftime("%H") %>:<%= dinner.date.strftime("%M") %>
      <!-- If we rather use the user local time zone uncomment this -->
      <!-- <%= javascript_tag do %> -->
      <!--     set_user_timezone( -->
      <!--         <%= dinner.date.mon %>, -->
      <!--         <%= dinner.date.mday %>, <%= dinner.date.year %>, -->
      <!--         <%= dinner.date.hour %>, <%= dinner.date.min %> -->
      <!--     ); -->
      <!-- <% end %> -->
    </p>

    <p>Location: <%= dinner.location %></p>
    <p>Current Price Per Person: <%= number_with_precision(dinner.price / ((dinner.seats - dinner.seats_available) + 1), :precision => 2)%>   <%= dinner.currency %></p>
    <p>Seats Available: <span id="suppr_seats_available-<%= dinner.id %>"><%= dinner.seats_available %></span></p>
  </td>
  <td></td>
  <td class="td_side">
      <% if user_signed_in? %>
      <div class="div_join">
          <% if dinner.reservations.exists? user_id: current_user.id, dinner_id: dinner.id %>
              <%= link_to '<button type="button" class="btn btn-primary">Leave</button>'.html_safe, leave_dinner_path(dinner), :remote => true %>
          <% else %>
              <%= link_to '<button type="button" class="btn btn-primary">Join</button>'.html_safe, join_dinner_path(dinner), :remote => true %>
          <% end %>
          </div>
          <% if dinner.host == current_user %>
          <div class="div_delete">
             <%= link_to '<button type="button" class="btn btn-primary">Cancel</button>'.html_safe, dinner, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
          </div>
      <% else %>
      <div class="div_join">
          <%= link_to '<button type="button" class="btn btn-primary">Join</button>'.html_safe, '.'%>
      </div>
      <% end %>
      <div class="div_more">
         <%= link_to '<button type="button" class="btn btn-primary">More</button>'.html_safe, {:id => dinner.id, :controller => "dinners", :action => "show"}%>
      </div>
  </td>

</tr>
<% end %>
