<%= form_for @dinner, html: { multipart: true } do |f| %>
  <% if @dinner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dinner.errors.count, "error") %> can not save this Suppr:</h2>
      <ul>
      <% @dinner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 10 %> 
 </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Dinner::CATEGORIES,
        prompt: 'Select a category' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.number_field :seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
