<h1>Listing dinners</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= link_to 'Host a Suppr', new_dinner_path %>


<% @dinners.each do |dinner| %>
<div class="list_row">
    <tr>
        <td>
            <div id="div_button_rsvp">
                <a href='/dinners/<%= dinner.id %>' class='fill-div'>RSVP</a>
            </div>
        </td>
        <td>
            <div class="div_button_info">
                <a href='dinners/<%= dinner.id %>' class='fill-div'>Details</a>
            </div>
        </td>

        <td>
            <div class="div_image">
                <!-- image_tag(dinner.photo, class: 'list_image') %>  -->

                <a href="/dinners/<%= dinner.id %>">
                    <div class="div_image">
                            <%= image_tag(dinner.photo, class: 'list_image') %> 
                    </div>
                </a>
            </div>
        </td>
            <div class="list_text">
                <td><%= dinner.date %></td>
                <td><%= dinner.location %></td>
                <td><%= dinner.title %></td>
                <td><%= dinner.description %></td>
                <td><%= dinner.category %></td>
                <td><%= dinner.price %></td>
                <td><%= dinner.seats_available %></td>
                <td><%= dinner.stamp %></td>

            </div>
    </tr>
    <br>
</div>
<% end %>
