$('a[href$="leave/<%= @dinner.id %>"').html('<button type=\"button\" class=\"btn btn-primary\">Join</button>');
$('a[href$="leave/<%= @dinner.id %>"').attr('href', Routes.join_dinner_path(<%= @dinner.id %>));
$("#suppr_seats_available-<%= @dinner.id %>").html(<%= @dinner.seats_available %>);
