<div class="dinner-div">
<p>
  <h1><%= sanitize @dinner.title %></h1>
</p>

<p>
  <strong>Date:</strong>
  <%= @dinner.date.strftime("%B") %> <%= @dinner.date.strftime("%d") %>,
  <%= @dinner.date.strftime("%Y") %> at <%= @dinner.date.strftime("%H") %>:<%= @dinner.date.strftime("%M") %>
</p>
<p>
  <strong>Location:</strong>
  <%= sanitize @dinner.location %>
</p>
<p>
  <strong>Category:</strong>
  <%= sanitize @dinner.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dinner.price %>
</p>

<p>
  <strong>Total Seats:</strong>
  <%= @dinner.seats %>
</p>

<p>
  <strong>Seats available:</strong>
  <%= @dinner.seats_available %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @dinner.description %>
</p>
<p>
  <strong>Participants:</strong>
  <% if @dinner.reservations.length != 0 %>
     <% @dinner.reservations.each do |r| %>
         <%= link_to r.user.first_name + ' ' + r.user.last_name, {:id => r.user.id, :controller => "users", :action => "show"} %>
     <% end %>
  <% else %>
     No one has joined this Suppr yet. Be the first!
  <% end %>
</p>
<% if user_signed_in? and current_user == @dinner.host%>
<%= link_to 'Edit Suppr', edit_dinner_path, class: 'btn btn-warning' %>
<% end %>
</div>
<div class="dinner-pic">
  <%= image_tag @dinner.image.url, width: "80%", height: "50%" %>
</div>
<br>

<%= form_for(@comment) do |f|%>
<%= f.hidden_field :dinner_id, :value => @dinner.id %>
<br>
  <div class="field">
    <%= f.label :leave_a_comment %><br>
    <%= f.text_area :content, class: "form-control", placeholder: "Comment", rows: "4" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
<br><br>
<p>
  <table class="table table-striped">
    <%= render @dinner.comments %>
  </table>
</p>

<%= link_to 'Back', dinners_path %>
