
<!-- Dinner/Show.html -->

<p id="notice"><%= notice %></p>

<%= image_tag @dinner.image.url %>


<p>
  <h1><%= sanitize @dinner.title %></h1>
</p>
<p>
  <strong>Date:</strong>
  <%= @dinner.date %>
</p>
<p>
  <strong>Location:</strong>
  <%= sanitize @dinner.location %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @dinner.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= sanitize @dinner.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dinner.price %>
</p>

<p>
  <strong>Total Seats:</strong>
  <%= @dinner.seats %>
</p>

<p>
  <strong>Seats available:</strong>
  <%= @dinner.seats_available %>
</p>

<p>
  <strong>Participants:</strong>
  <% if @dinner.reservations.length != 0 %>
     <% @dinner.reservations.each do |r| %>
         <%= r.user.email %>
     <% end %>
  <% else %>
     No one has joined this Suppr yet. Be the first!
  <% end %>
</p>

<p>
  <strong>Stamp:</strong>
  <%= @dinner.stamp %>
</p>
<% if user_signed_in? %>
   <%= link_to '<button type="button" class="btn btn-primary btn-lg">Comment</button>'.html_safe, new_comment_path(@dinner), :class => "fill-div" %>
<% else %>
   <%= link_to '<button type="button" class="btn btn-primary btn-lg" disabled>Comment</button>'.html_safe, new_comment_path(@dinner), :class => "fill-div" %>
<% end %>
<%= link_to 'Back', dinners_path %>
