<p id="notice"><%= notice %></p>

<style>
    div {
      width:400px;
      height:400px;
    }
    div img {
      height:100%;
    }
</style>


<div>
  <%= image_tag(@dinner.photo, class: 'list_image') %> 
</div>
<p>
  <h1><%= sanitize @dinner.title %></h1>
</p>
<p>
  <strong>Date:</strong>
  <%= @dinner.date %>
</p>
<p>
  <strong>Location:</strong>
  <%= sanitize @dinner.location %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @dinner.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= sanitize @dinner.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dinner.price %>
</p>

<p>
  <strong>Seats available:</strong>
  <%= @dinner.seats_available %>
</p>

<p>
  <strong>Stamp:</strong>
  <%= @dinner.stamp %>
</p>

<%= link_to 'Edit', edit_dinner_path(@dinner) %> |
<%= link_to 'Back', dinners_path %>
