<!DOCTYPE html>
<html>
<head>
  <title>Suppr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>



	<!-- Login Link -->
	<div id="div_login">
    <%= link_to 'Login', home_login_path %>
  </div>
	<!--
	<div class="background-image">

	</div>
	-->

	<div id='site_name' >
    <%= link_to '<h1>Suppr</h1>'.html_safe, dinner_index_path %>
	</div>
	
	<a href='/dinners'>Upcoming Events</a>
	<br>
<%= yield %>

<div id="div_footer">
	<a href='/home/about'>About Suppr</a><br>
	<a href='/home/contact'>Contact Us</a>
</div>

</body>
</html>
