<!DOCTYPE html>
<html>
<head>
  <title>Suppr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>



	<!-- Login Link -->
	<div id="div_login">	<%= link_to 'Log In', dinners_path %></div> 
	

	<!-- Don't need a big blue button here for now

	<%= link_to 'Log In', dinners_path, class:"myButton" %>

	-->



	<!--
	<div class="background-image">

	</div>
	-->

	<div id='site_name' >
		<a href="/">
			<h1 >Suppr</h1>
		</a>
	</div>
	
	<a href='/event/list'>Upcoming Events</a>
	<a href='/dinners'>[Admin]</a>
	<br>
<%= yield %>

<div id="div_footer">
	<a href='/home/about'>About Suppr</a><br>
	<a href='/home/contact'>Contact Us</a>
</div>

</body>
</html>
