<!DOCTYPE html>
<html>
<head>
  <title>Suppr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

	<div id="div_login">
		<a href='/home/login'>Login</a>
	</div>

	<div id='site_name'>
		<a href="/">
			<h1 >Suppr</h1>
		</a>
	</div>
	<a href='/event/list'>Upcoming Events</a>
	<a href='/dinners'>[Admin]</a>
	<br>
<%= yield %>

<div id="div_footer">
	<a href='/home/about'>About Suppr</a><br>
	<a href='/home/contact'>Contact Us</a>
</div>

</body>
</html>
