<!DOCTYPE html>
<html>
<head>
  <title>Suppr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  


	<!-- Login Link -->
	<div id="div_login">
    <%= link_to 'Login', home_login_path %>
  </div>
	

	<!-- Don't need a big blue button here for now

	<%= link_to 'Log In', dinners_path, class:"myButton" %>

	-->



	<!--
	<div class="background-image">

	</div>
	-->

	<div id='site_name' >
    <%= link_to '<h1>Suppr</h1>'.html_safe, root_path %>
	</div>
	<%= link_to 'Upcoming Supprs', {:controller => "dinners", :action => "index"} %>
	<br>
  <%= yield %>

  <div id="div_footer">
	  <%= link_to 'About Suppr', {:controller => "home", :action => "about"} %>
	  <%= link_to 'Contact us', {:controller => "home", :action => "contact"} %>
  </div>

</body>
</html>
